// Specific CSS for your home-page


.banner {
  background-image:url("punch2.jpg");
  background-position: center;
  height: 100vh;

  padding-top: 30vh;
  background-size: cover !important;
}

.banner h1 {
  margin: 0;
  color: white;


  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: white;
  font-family: 'Diplomata SC', cursive;

}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Diplomata SC', cursive;
}
