<!-- Footer -->
<footer class="page-footer font-small special-color-dark ">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">

        <li class="list-inline-item">
          <a class="btn-floating btn-tw mx-1">
             <a href="https://github.com/Nerfi"> <i class="fab fa-github" aria-hidden="true"></i> </a>

          </a>
        </li>

        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">
              <a href="https://www.linkedin.com/in/juanfranciscoparedescruz97/"> <i class="fab fa-linkedin-in" aria-hidden="true"></i> </a>


          </a>
        </li>

        <li class="list-inline-item">
          <a class="btn-floating btn-li mx-1">

            <a href="https://nerfi.github.io/JuanPortfolio/"> <i class="fa fa-file" aria-hidden="true"></i> </a>


          </a>
        </li>





      </ul>
      <!-- Social buttons -->

       <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:

    </div>
    <!-- Copyright -->

    </div>
    <!-- Footer Elements -->



  </footer>
  <!-- Footer -->
