
<div class="banner" >
  <div class="container">
      <style>
       @import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Diplomata+SC|Nosifer');
    </style>


    <h1>Figthing World Brings you <br> <strong>New skills</strong> to <strong>Find the best gym for you</strong>!</h1>
    <p>
        <span id="banner-typed-text"></span>

    </p>

      <%= link_to "Start", gyms_path, class:"btn btn-success" %>


  </div>
</div>




<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">


      <div class="style text-aling-center">
      <h1>Why us ?</h1>

      </div>
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 50 %>
    </div>
  </div>
</div>




