
<div class="banner" >
  <div class="container">
    <h1>Figthing World Brings you <strong>New skills</strong> to <strong>Fin the bes gym for you</strong>!</h1>
    <p>Trave, Fight, Love.</p>

      <%= link_to "Start", gyms_path, class:"btn btn-success" %>


  </div>
</div>
