
<div class="banner" >
  <div class="container">
      <style>
       @import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Diplomata+SC|Nosifer');
    </style>


    <h1>Figthing World Brings you <br> <strong>New skills</strong> to <strong>Find the best gym for you</strong>!</h1>
    <p>
        <span id="banner-typed-text"></span>

    </p>

      <%= link_to "Start", gyms_path, class:"btn btn-success" %>


  </div>
</div>





<div class="cards">

  <div class="card-category fab fa-github"  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Create
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Upload
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Fight
  </div>

</div>



